.admin-header-container {
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #18885c;
    z-index: 1;

    .admin-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            display: flex;
            justify-content: center;
            align-items: center;

            .header-logo {
                background: url('../../assets/logo.svg') center center no-repeat;
                width: 160px;
                height: 40px;
                margin: 0 10px;
            }
        }

        .center-content {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0 20px;

            .child-center-content {
                width: 20%;
                height: 60px;
                margin: 0 2.5%;
                cursor: pointer;
                line-height: 60px;
                box-sizing: border-box;
                color: #fff;
                text-decoration: none;

                .title {
                    font-weight: 500;
                    font-size: 16px;
                }

                &.active {
                    border-top: 3px solid #ffc10e;
                    color: #ffc10e;
                }
            }

        }

        .right-content {
            display: flex;
            justify-content: center;
            align-items: center;

            .avatar-container {
                display: flex;
                align-items: center;
                position: relative;

                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }

                .icon-dropdown {
                    font-size: 30px;
                    color: #fff;
                    cursor: pointer;
                }

                .dropdown-user {
                    position: absolute;
                    top: 50px;
                    left: 0;
                    width: 170px;
                    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px;
                    border-radius: 5px;

                    .dropdown-user-item {
                        padding: 0 10px;
                        box-sizing: border-box;
                        height: 40px;
                        line-height: 40px;
                        border-top: 1px solid #ccc;
                        font-weight: 500;
                        overflow: hidden;
                        cursor: pointer;
                    }

                    .dropdown-user-item:hover {
                        background-color: #18885c;
                        color: #fff;
                    }

                    .dropdown-user-item:first-child {
                        border-top: none;
                    }
                }
            }

            .language {
                margin: 0 15px;
                font-weight: 500;
                cursor: pointer;
                color: #fff;
            }
        }

        @media (min-width: 740px) {

            .left-content,
            .right-content {
                width: 25%;
            }
        }

        @media (max-width: 740px) {
            .center-content {
                width: 80%;
            }

            .left-content {
                display: none;
            }

            .right-content {
                width: 20%;
            }
        }
    }
}

.section-admin-container {
    .section-admin-content {
        .option-choose {
            display: flex;

            .option-item {
                margin: 10px;
                border: 3px solid #18885c;
                width: 80px;
                height: 30px;
                border-radius: 10px;
                text-align: center;
                line-height: 30px;
                color: #18885c;
                font-weight: 500;
                cursor: pointer;

                &.active {
                    background-color: #18885c;
                    color: #fff;
                }
            }
        }

        .btn-add-new-container {
            display: flex;

            .input-find-user {
                margin: 10px;

                button,
                input {
                    box-sizing: border-box;
                    height: 40px;
                    font-size: medium;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    padding: 5px 10px;
                }

                input {
                    margin-left: 20px;
                    width: 300px;
                }

                button {
                    margin-left: 10px;
                    width: 100px;
                    background-color: #18885c;
                    color: #000;
                    font-weight: 600;
                    cursor: pointer;
                }

                button:hover {
                    opacity: 0.7;
                }


            }

            .select-tag {
                margin: 10px;
                width: 400px;
            }

            .btn-seach {
                margin: 10px;
                height: 40px;
                box-sizing: border-box;
                font-size: medium;
                border-radius: 5px;
                border: 1px solid #ccc;
                padding: 5px 10px;
                width: 100px;
                background-color: #18885c;
                color: #000;
                font-weight: 600;
                cursor: pointer;
            }

            .btn-seach:hover {
                opacity: 0.8;
            }

            .btn-add-new {
                color: #000;
                background-color: #18885c;
                // border: 3px solid #fff;
                margin: 10px;
                width: 160px;
                height: 40px;
                border-radius: 5px;
                text-align: center;
                line-height: 40px;
                font-weight: 500;
                cursor: pointer;
            }

            .btn-add-new:hover {
                opacity: 0.8;
            }
        }

        .table-container {
            width: 100%;

            table {
                box-sizing: border-box;
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 98%;
                margin: 0 auto;

                th {
                    background-color: #49bce2;
                    text-align: left;
                    padding: 8px;
                    border: 1px solid #dddddd;
                }

                td {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;

                    .btn-edit {
                        width: 25px;
                        border: none;
                        outline: none;
                        background: transparent;
                        color: #49bce2;
                        font-size: 20px;
                        cursor: pointer;
                    }

                    .btn-delete {
                        width: 25px;
                        border: none;
                        outline: none;
                        background: transparent;
                        color: red;
                        font-size: 20px;
                        cursor: pointer;
                    }

                    .btn-edit-markdown {
                        width: 25px;
                        border: none;
                        outline: none;
                        background: transparent;
                        color: #18885c;
                        font-size: 20px;
                        cursor: pointer;
                    }
                }

                tr:nth-child(odd) {
                    background-color: #ececec;
                }
            }
        }
    }

    .modal-user {
        display: none;
        position: fixed;
        z-index: 2;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);

        &.modal-addnew-specialty {

            padding-top: 30px;

            .modal-element {

                &.name-facility {
                    grid-column: 1/3;
                    grid-row: 1/2;
                }

                &.address-facility {
                    grid-column: 3/5;
                    grid-row: 1/2;
                }

                &.name-specialty {
                    grid-column: 1/5;
                    grid-row: 1/2;
                }

                &.element-image-specialty {
                    grid-column: 1/2;
                    grid-row: 2/5;

                    #image-user {
                        height: 220px !important;
                        padding: 0 !important;

                        .preview-image {
                            height: 150px !important;
                            width: 230px;
                            margin: 0 10px !important;
                            cursor: pointer;
                        }

                        .label-upload {
                            border: 1px solid #5fc1de;
                            margin-left: 5px;
                            padding: 5px;
                            font-size: 18px;
                            cursor: pointer;
                            background-color: #5cc4e4;
                            border-radius: 5px;
                            color: #fff;
                        }

                        .label-upload:hover {
                            opacity: 0.8;
                        }
                    }
                }

                &.element-btn {
                    grid-column: 1/2 !important;
                    grid-row: 5/6 !important;

                    .cancel-btn {
                        margin-top: 15px;
                        margin-bottom: 10px;
                    }
                }

                &.markdow-specialty {
                    grid-column: 2/5 !important;
                    grid-row: 2/6 !important;
                }
            }
        }

        &.modal-edit-user {
            .element-image-edit {
                grid-row: 1/5;

                #image-user {
                    height: 260px !important;
                    padding: 0 !important;

                    .preview-image {
                        height: 200px !important;
                        margin: 0 10px !important;
                        cursor: pointer;
                    }

                    .label-upload {
                        border: 1px solid #5fc1de;
                        margin-left: 5px;
                        padding: 5px;
                        font-size: 18px;
                        cursor: pointer;
                        background-color: #5cc4e4;
                        border-radius: 5px;
                        color: #fff;
                    }

                    .label-upload:hover {
                        opacity: 0.8;
                    }
                }
            }

            .element-address {
                grid-column: 2/4 !important;
            }

            .element-cancel-btn {
                grid-column: 3/4 !important;
            }

            .element-add-btn {
                grid-column: 4/5 !important;
            }
        }

        //modal delete
        &.modal-delete-user {
            .element-title-delete {
                grid-column: 1/5 !important;
            }
        }

        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 90%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s;

            .modal-header {
                background-color: #18885c;
                padding: 2px 16px;
                height: 40px;
                color: white;
                position: relative;
                display: flex;
                align-items: center;

                .title-modal-header {
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                }

                .close {
                    position: absolute;
                    right: 10px;
                    color: white;
                    font-size: 28px;
                    font-weight: bold;
                }

                .close:hover,
                .close:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
            }

            .modal-body {
                padding: 16px 16px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;

                .modal-element {
                    position: relative;
                    padding: 10px 10px;

                    &.element-address {
                        grid-column: 2/4;
                    }

                    &.element-cancel-btn {
                        grid-column: 1/3;
                    }

                    &.element-add-btn {
                        grid-column: 3/5;
                    }

                    &.element-image {
                        grid-row: 2/4;
                        grid-column: 4/5;

                        #image-user {
                            height: 120px;
                            padding: 0 !important;
                        }
                    }

                    .modal-icon-label {
                        position: absolute;
                        color: #8a8b8e;
                        left: 20px;
                        top: 20px;
                        font-size: 1.6rem;
                    }

                    .icon-setting {
                        position: absolute;
                        color: red;
                        right: 20px;
                        top: 20px;
                        font-size: 1.6rem;
                        cursor: pointer;
                    }

                    #image-user {

                        .preview-image {
                            height: 65px;
                            margin-left: 5px;
                            cursor: pointer;
                        }

                        .label-upload {
                            border: 1px solid #5fc1de;
                            margin-left: 5px;
                            padding: 5px;
                            font-size: 18px;
                            cursor: pointer;
                            background-color: #5cc4e4;
                            border-radius: 5px;
                            color: #fff;
                        }

                        .label-upload:hover {
                            opacity: 0.8;
                        }
                    }

                    #image-user,
                    input,
                    select {
                        background-color: #eaecf1;
                        display: inline-block;
                        box-sizing: border-box;
                        line-height: 50px;
                        width: 100%;
                        height: 50px;
                        outline: none;
                        color: #000;
                        border-radius: 4px;
                        padding: 0 0 0 45px;
                        border: 1px solid #c2c0ca;
                        font-style: normal;
                        font-size: 16px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;

                        .option-gender {
                            color: #828487;
                        }
                    }


                    input:focus {
                        border-color: #45c3d2;
                        color: #000
                    }

                    input:focus:invalid {
                        color: #cc1e2b;
                        border-color: #45c3d2;
                    }


                    button {
                        box-sizing: border-box;
                        display: inline-block;
                        margin-bottom: 30px;
                        line-height: 50px;
                        width: 100%;
                        height: 50px;
                        outline: none;
                        border-radius: 4px;
                        border: none;
                        color: #fff;
                        font-weight: bold;
                        text-transform: uppercase;
                        -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                        font-size: 18px;
                        cursor: pointer;

                        &.add-btn {
                            background-color: #18885c;
                        }

                        &.cancel-btn {
                            background-color: #fe6464;
                        }
                    }

                    .add-btn:hover {
                        background-color: #275c47;
                        -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                    }

                    .cancel-btn:hover {
                        background-color: #f98383;
                        -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                    }
                }
            }
        }


        @-webkit-keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }

        @keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }
    }
}

.markdown-background {
    .btn-container {
        margin: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn-markdown {
            width: 200px;
            height: 40px;
            display: inline-block;
            line-height: 40px;
            outline: none;
            border-radius: 4px;
            border: none;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            font-size: 18px;
            cursor: pointer;

            &.btn-save-markdown {
                background-color: #fe6464;
                margin-left: 30px;
                margin-right: 10px;
            }

            &.btn-cancel-markdown {
                background-color: #18885c;
            }
        }

        .btn-markdown:hover {
            opacity: 0.8;
        }

        table {
            box-sizing: border-box;
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin: 0 auto;

            th {
                background-color: #49bce2;
                text-align: left;
                padding: 8px;
                border: 1px solid #dddddd;
            }

            td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
                background-color: #e6e5ee;
            }
        }

    }

    .content-top-container {
        display: flex;
        align-items: center;

        .text-description {
            display: flex;
            width: 40vw;
            flex-direction: column;
            justify-content: center;
            margin: 10px 40px;
        }

        .select-content {
            margin-right: 30px;

            .select-tag {
                width: 500px;
                margin: 10px;
            }
        }
    }

}