.detail-doctor-container {

    .more-information-doctor-container {
        background-color: #f5f5f5;
        border-top: 1px solid #ccc;

        .more-information-doctor-content {
            padding: 10px 30px;
            width: 1100px;
            margin: auto;

        }
    }
}